    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Mentorship Program</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="Home">
    <header>
        <div>
               
        <ul>
            <li><img src="/media/logo.jpg" alt="Institute Logo" /></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li>
              <a href="/mentorship_oppur">Mentorship Opportunities</a>
            </li>
            <li><a href="/profile">Mentor Profiles</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
        </div>
    </header>

    <nav>
        <div id="search-bar">
            <input type="text" placeholder="Search for mentors">
            <button>Search</button>
        </div>
        
    </nav>

    <div class="main-content">
        <h1>Welcome to the Student Mentorship Program</h1>
        <p>Here you can find mentors to guide you in your academic journey and get information about the college.</p>
        
        <p id="sec">Welcome to the Student Mentorship Program, where we believe in the power of mentorship to transform lives. The mentor-mentee relationship is a cornerstone of personal and professional development, providing a pathway to success and personal growth. As mentors, experienced individuals selflessly share their knowledge, insights, and wisdom, guiding mentees toward their goals and aspirations. The mentor-mentee dynamic fosters a supportive environment, helping mentees navigate challenges, make informed decisions, and build the skills needed for their journey. Whether you're a mentor offering your expertise or a mentee seeking guidance, this partnership is a testament to the profound impact that one person's wisdom can have on another's journey. Join us in this collaborative journey towards personal and academic excellence, as we celebrate the significance of mentorship.
        </p>
    
        
    </div>
    <footer>
        <section id="social-media">
            <h2 style="color: aliceblue; margin-top: 2px;">Connect with Us</h2>
            
            <a href="#" class="social-icon" target="_blank">
                <img src="/media/facebook-logo-0.webp" alt="Facebook">
            </a>
            <a href="#" class="social-icon" target="_blank">
                <img src="/media/twitter_logo.png" alt="Twitter">
            </a>
            <a href="#" class="social-icon" target="_blank">
                <img src="/media/new-Instagram-logo.webp" alt="Instagram">
            </a>
        </section>
    </footer>
                                                                     
</body>
</html>
