<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><img src="/media/logo.jpg" alt="Institute Logo" /></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li>
              <a href="/mentorship_oppur">Mentorship Opportunities</a>
            </li>
            <li><a href="/mentorprofiles">Mentor Profiles</a></li>
            <li><a href="/resorces">Resources</a></li>
          </ul>        
        </nav>
    </header>
    <section id="resources">
        <h2>Resources</h2>
        <p>Explore our educational materials and guides to assist mentors and mentees.</p>
        <a href="#blog" class="cta-button">Visit Resources</a>
    </section>
</body>
</html>